<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fernandoperez.lifemanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/app_id" />

    <application
        android:name="fernandoperez.lifemanager.activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.ConfigurationListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AddConfigurationActivity"
            android:parentActivityName=".activities.ConfigurationListActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConfigurationListActivity" />
        </activity>

        <activity
            android:name=".activities.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".activities.ConfigurationListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fernandoperez.lifemanager.activities.ConfigurationListActivity" />
        </activity>
        <activity
            android:name=".activities.BackUpActivity"
            android:label="@string/title_activity_back_up"
            android:parentActivityName=".activities.ConfigurationListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fernandoperez.lifemanager.activities.ConfigurationListActivity" />
        </activity>
        <activity android:name=".activities.ScreenSlideActivity" />

        <!-- GOOGLE API -->
        <activity
            android:name=".googleapi.CreateFileInAppFolderActivity"
            android:parentActivityName=".activities.BackUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fernandoperez.lifemanager.activities.BackUpActivity" />
        </activity>

        <!-- TWIITER API -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0099823a69ebd0f6b2ab8b41f7db95d7d121b889" />

        <!-- SPOTIFY API -->
        <!-- Needed for LoginActivity to work -->
        <activity
            tools:replace="android:launchMode"
            android:launchMode="standard"
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Database (greenDAO) -->
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="fernandoperez.lifemanager.models" />

    </application>
</manifest>