<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fernandoperez.lifemanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/app_id" />

    <application
        android:name=".activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/bar_title_settings"
            android:parentActivityName=".activities.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:parentActivityName=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fernandoperez.lifemanager.activities.SettingsActivity" />
        </activity>
        <activity
            android:name=".activities.BackUpActivity"
            android:label="@string/title_activity_back_up"
            android:parentActivityName=".activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fernandoperez.lifemanager.activities.SettingsActivity" />
        </activity>

        <!-- GOOGLE API -->
        <activity
            android:name=".googleapi.CreateFileInAppFolderActivity"
            android:parentActivityName=".activities.BackUpActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fernandoperez.lifemanager.activities.BackUpActivity" />
        </activity>

        <!-- TWIITER API -->
        <activity android:name=".twitterapi.activities.TwitterLoginActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0099823a69ebd0f6b2ab8b41f7db95d7d121b889" />

        <activity android:name=".twitterapi.activities.EmbeddedTimelineActivity" />

        <!-- SPOTIFY API -->
        <!-- Needed for LoginActivity to work -->
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".spotifyapi.SpotifyMainActivity" />
        <activity
            android:name=".activities.CurrentConfigActivity"
            android:label="@string/title_activity_current_config"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ScreenSlideActivity" />
        <activity
            android:name=".twitterapi.activities.TwitterMainActivity"
            android:label="@string/title_activity_twitter_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>